<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imprenta</title>
  </head>
  <body>
    <nav>
      <div class="header-logo">
        <img src="/assets/img/logo.jpg" alt="" />
        <h1>Corporacion Izanagi</h1>
      </div>
      <div class="nav-items">
        <div class="dropdown">
          <a href="#">Imprenta Digital</a>
        </div>
        <div class="dropdown">
          <a href="#">Imprenta Publicitaria</a>
        </div>
      </div>
    </nav>

    <header>
      <p>Central Telefonica:| +21 874 627</p>
      <p>izanagi@gmail.com</p>
    </header>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
