<section>
  <div style="display: flex; justify-content: space-around; margin: 20px 0">
    <button routerLink="/prodDigital">
      <div class="img-container">
        <img src="..\..\assets\img\imprenta_digital.jpg" alt="Servicio 1" />
      </div>
      <h1>Imprenta Digital</h1>
      <p>
        Imprimimos en alta calidad, a color y B/N, y a gran escala en todo tipo
        de material.
      </p>
    </button>
    <button routerLink="/prodPublicitario">
      <div class="img-container">
        <img src="..\..\assets\img\imprenta_publi.jpg" alt="Servicio 2" />
      </div>
      <h1>Imprenta Publicitaria</h1>
      <p>Merchandising publicitario, imprenta y regalos corporativos.</p>
      <p>Articulos publicitarios con logotipo para tu empresa.</p>
    </button>
  </div>
</section>
